[submodule "nextflow-practice"]
	path = nextflow-practice
	url = git@github.com:paymantohidifar/nextflow-practice.git
[submodule "long-read-seq-practice"]
	path = long-read-seq-practice
	url = git@github.com:paymantohidifar/long-read-seq-practice.git
[submodule "bioinfx-data-skills-book"]
	path = bioinfx-data-skills-book
	url = git@github.com:paymantohidifar/bioinfx-data-skills-book.git
